<div class="body-container">
	<div id="pageContent" class="container" style="margin-top: 40px">
		<h1>CONTACT US</h1>
		<div class="span-8 colborder" style="margin-left: 10px;">
			<table>
				<tr>
					<th><h3><label>SUPPORT EMAIL:</label></h3></th>
					<td><h3><label>hello@vipbite.com</label></h3></td>
				</tr>
				<tr>
					<th><h3><label>PHONE:</label></th>
					<td><h3><label>1800-234-1234</label></h3></td>
				</tr>
			</table>
		</div>
		<hr/>
		<div class="span-16" style="margin-left: 10px">
			<%= form_tag(controller: 'home', action: 'contactUs', method: 'post') do %>
				<% if(!checkUserCookies)%>
					<h4 class="boldFont">please enter your email address here!"</h4>
					<%= email_field_tag('email', params[:email] || nil, size:35, maxlength: 30, :class=>"contactUsEmailInput")%>
					<hr class ="space"/>
				<% else %>
					<h4 class="boldFont"><%= @current_user.login %></h4>
				<% end %>
				<%= text_area_tag('emailContent', params[:emailContent] || nil, :class=>"contactUsEmailContent") %>
				<%= submit_tag('SUBMIT', :class=>"contactusSubmitButton clickable", style:"float:right; margin-top:10px;") %>
			<% end %>
		</div>
	</div>
</div>